<!-- views/index.ejs -->

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <style>
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
</head>

<body>
    <div>
        <h1>My App</h1>
        <h3><%= message %></h3>
    </div>
</body> 

</html>